NEXT_PUBLIC_APP_NAME    ="Sistem Penilaian Essay"
NEXT_PUBLIC_APP_URL     ="https://sistem-penilaian-esai-otomatis.vercel.app/"

#
# Must add to vercel's env also
#
APP_KEY = "031020"

# 
# example value, the real value set at vercel env
# 
POSTGRES_URL            ="postgres://default:EJXMbOkS64Hr@ep-morning-sound-a4vt7lcj-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL     ="postgres://default:EJXMbOkS64Hr@ep-morning-sound-a4vt7lcj-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL     ="postgres://default:EJXMbOkS64Hr@ep-morning-sound-a4vt7lcj-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:EJXMbOkS64Hr@ep-morning-sound-a4vt7lcj.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER           ="default"
POSTGRES_HOST           ="ep-morning-sound-a4vt7lcj-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD       ="EJXMbOkS64Hr"
POSTGRES_DATABASE       ="verceldb"